dashboard/.phpunit.cache
dashboard/node_modules
dashboard/public/build
dashboard/public/hot
dashboard/public/storage
dashboard/storage/*.key
dashboard/storage/pail
dashboard/vendor
dashboard/.env
dashboard/.env.backup
dashboard/.env.production
dashboard/.phpactor.json
dashboard/.phpunit.result.cache
dashboard/Homestead.json
dashboard/Homestead.yaml
dashboard/npm-debug.log
dashboard/yarn-error.log
dashboard/auth.json
dashboard/.fleet
dashboard/.idea
dashboard/.nova
dashboard/.vscode
dashboard/.zed
/assets/videos/*
!/assets/videos/.gitkeep